{% extends "base.html" %} {% block head %}
<title>Advice - Patrick Collison</title>
{% endblock %} {% block body %}
<div class="left"></div>
<div class="content">
  <p>
    Every now and again, someone emails me and asks for very general advice.
    ("How do I change the world?") With the caveat that I've only lived a
    fraction of one life, and am still trying to figure things out, here's the
    advice I'd give past me.
  </p>

  <p><b>If you're 10–20:</b> These are prime years!</p>
  <ul>
    <li>Go deep on things. Become an expert.</li>
    <li>
      In particular, try to go deep on <i>multiple</i> things. (To varying
      degrees, I tried to go deep on languages, programming, writing, physics,
      math. Some of those stuck more than others.) One of the main things you
      should try to achieve by age 20 is some sense for which kinds of things
      you <i>enjoy</i> doing. This probably won't change a lot throughout your
      life and so you should try to discover the shape of that space as quickly
      as you can.
    </li>
    <li>
      Don't stress out too much about how valuable the things you're going deep
      on are... but don't ignore it either. It should be a factor you weigh but
      not by itself dispositive.
    </li>
    <li>
      To the extent that you enjoy working hard, do. Subject to that constraint,
      it's not clear that the returns to effort ever diminish substantially. If
      you're lucky enough to enjoy it a lot, be grateful and take full
      advantage!
    </li>
    <li>
      Make friends over the internet with people who are great at things you're
      interested in. The internet is one of the biggest advantages you have over
      prior generations. Leverage it.
    </li>
    <li>Aim to read a lot.</li>
    <li>
      If you think something is important but people older than you don't hold
      it in high regard, there's a reasonable chance that you're right and
      they're wrong. Status lags by a generation or more.
    </li>
    <li>
      Above all else, don't make the mistake of judging your success based on
      your current peer group. By all means make friends but being weird as a
      teenager is generally good.
    </li>
    <li>
      <i>But</i> having good social skills confers life-long benefits. So, don't
      write them off. Get good at making a good first impression, being funny
      (if possible... this author still working on it...), speaking publicly.
    </li>
    <li>
      Make things. Operating in a space with a lot of uncertainty is a very
      different experience to learning something.
    </li>
    <li>
      More broadly, nobody is going to teach you to think for yourself. A large
      fraction of what people around you believe is mistaken. Internalize this
      and practice coming up with your own worldview. The correlation between it
      and those around you shouldn't be too strong unless you think you were
      especially lucky in your initial conditions.
    </li>
    <li>
      If you're in the US and go to a good school, there are a lot of forces
      that will push you towards following traintracks laid by others rather
      than charting a course yourself. Make sure that the things you're pursuing
      are weird things that <i>you</i> want to pursue, not whatever the standard
      path is. Heuristic: do your friends at school think your path is a bit
      strange? If not, maybe it's too normal.
    </li>
    <li>
      Figure out a way to travel to San Francisco and to meet other people
      who've moved there to pursue their dreams. Why San Francisco? San
      Francisco is the Schelling point for high-<a
        href="https://en.wikipedia.org/wiki/Big_Five_personality_traits#Openness_to_experience"
        >openness</a
      >, smart, energetic, optimistic people. Global Weird HQ. Take advantage of
      opportunities to travel to other places too, of course.
    </li>
    <li>
      Find vivid examples of success in the domains you care about. If you want
      to become a great scientist, try to find ways to spend time with good (or,
      ideally, great) scientists in person. Watch YouTube videos of interviews.
      Follow some on Twitter.
    </li>
    <li>
      People who did great things often did so at very surprisingly young ages.
      (They were grayhaired when they became famous... not when they did the
      work.) So, hurry up! You can do great things.
    </li>
  </ul>

  <p>
    <b>If you're 20–30:</b> I don't know yet. I plan to think about this when
    I'm 35-40.
  </p>

  <p>
    If advice on this page helped you, I'd love to
    <a href="mailto:patrick@collison.ie">hear about it</a>. And if you're
    reading this page,
    <a href="https://pioneer.app/r/patrickc/ucwvrbzy">Pioneer</a> and
    <a href="https://www.mercatus.org/emergentventures">Emergent Ventures</a>
    might be of interest. Alexey Guzey has some good
    <a href="https://guzey.com/personal/what-should-you-do-with-your-life/"
      >suggestions and pointers</a
    >, too.
  </p>
</div>

{% endblock %}
