<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/mainpage.css') }}"
    />
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="menu">
      <span class="Title">Patrick Collison</span>
      <ul>
        <li><a href="{{url_for('about')}}">About</a></li>
        <li><a href="{{url_for('advice')}}">Advice</a></li>
        <li><a href="{{url_for('blog')}}">Blog</a></li>
        <li><a href="{{url_for('bookshelf')}}">Bookshelf</a></li>
      </ul>
    </div>
    {% block body %}{% endblock %}
  </body>
</html>
