{% extends "base.html" %} {% block head %}
    <title>Patrick Collison - Bookshelf</title>
    {% endblock %} {% block body %}
    <div class="left"></div>
    <h1>Bookshelf</h1>
    <div class="bookself">
        <p>
            I sometimes post book recommendations on Twitter and people often respond asking if I have an overall list of books I think are worth reading. I don't, and end up feeling a bit guilty about being so haphazard. So, maybe this will be interesting to some people: below is a fairly complete catalog of the physical books I own. I always enjoy reading others' lists and browsing their bookshelves, so this intended to be a digital version of that. I've only read about half of the books here. (I guess I fall somewhere in the middle in the <a href="https://books.google.de/books?id=_ntDTaMUys8C&lpg=PT115&ots=E3jhWnG6aB&pg=PT124&redir_esc=y#v=onepage&q&f=false" >Umberto Eco theory of the library</a><br/>
            <br/>
            I flagged a few books that I thought were particularly great in green and those that I thought were substantially above average in light blue. These designations are non-exhaustive, though—it's kinda hard to recommend books in the abstract. And I've no doubt missed some.
            <br/>
            Since the stacks and shelves lack any particular order, so too does this list.
            <br/>
            If you like books, you may enjoy Stripe Press.
            <ul>
                <li><a href="https://www.amazon.com/dp/0674028201">How Judges Think</a></li>
                <li><a href="https://www.amazon.com/dp/0674028201">Aftermath</a></li>
                <li><a href="https://www.amazon.com/dp/0674028201">The Outbreak of the Peloponnesian War</a></li>
                <li><a href="https://www.amazon.com/dp/0674028201">The Rise and Fall of American Growth</a></li>
                <li><a href="https://www.amazon.com/dp/0674028201">Popper Selections</a></li>
                <li><a href="https://www.amazon.com/dp/0674028201">Feynman Lectures On Gravitation</a></li>
                <li><a href="https://www.amazon.com/dp/0674028201">The Ascent of Man</a></li>
                <li><a href="https://www.amazon.com/dp/0674028201">Quantum Electrodynamics</a></li>
                <li><a href="https://www.amazon.com/dp/0674028201">Pop Internationalism</a></li>
                <li><a href="https://www.amazon.com/dp/0674028201">Labyrinths</a></li>
                <li><a href="https://www.amazon.com/dp/0674028201">Fear No Evil</a></li>
                <li><a href="https://www.amazon.com/dp/0674028201">The Arrival</a></li>
                <li><a href="https://www.amazon.com/dp/0674028201">The Good Old Days--They Were Terrible!</a></li>

            </ul>
        </p>

    </div>
    {% endblock %}
