{% extends "base.html" %} {% block head %}
<title>About - Patrick Collison</title>
{% endblock %} {% block body %}
<div class="left"></div>
<div class="content">
  <img src="{{url_for('static', filename='profile.jpg')}}" height="130" />
  <p>
    I live in San Francisco and work at
    <a href="https://stripe.com/it">Stripe</a>. I grew up in Ireland and
    previously studied math at MIT. I am on the boards of Stripe and the
    <a href="https://longnow.org/">Long Now</a> Foundation. (The long-term is
    underrated!)
  </p>
  <p>Email: <a href="mailto:patrick@collison.ie">patrick@collison.ie.</a></p>
  <h3>Elsewhere</h3>
  <p>
    <a href="https://github.com/pc">pc</a> on GitHub;
    <a href="https://twitter.com/patrickc">patrickc</a> on Twitter;
    <a href="https://getpocket.com/@patrickcollison">patrickcollison</a> on
    Pocket.
  </p>
  <h3>Interviews</h3>
  <p>
    A few interviews from the past few years. They're mostly about Stripe but
    other topics make their way in too:
  </p>
  <ul>
    <li>
      Interviews by
      <a href="https://www.youtube.com/watch?v=Avqi1HeRlCQ">Reid Hoffman</a> and
      <a
        href="https://medium.com/notes-essays-cs183c-technology-enabled-blitzscalin/class-11-notes-essay-reid-hoffman-john-lilly-chris-yeh-and-allen-blue-s-cs183c-technology-ebf34cebae26#.4ecj29w55"
        >John Lilly</a
      >.
    </li>

    <li>
      Podcasts:
      <a
        href="https://soundcloud.com/panoply/eks045-patrick-collison-ads?in=panoply/sets/the-ezra-klein-show"
        >Ezra Klein</a
      >,
      <a href="https://www.fs.blog/2018/05/patrick-collison/">Shane Parrish</a>
      (<a
        href="https://s3.amazonaws.com/fs-lc/2018/Podcast/Transcripts/Patrick+Collison.pdf"
        >transcript</a
      >),
      <a
        href="http://andrewmcafee.org/podcast/patrick-collison-the-craft-of-disruption/"
        >Andrew McAfee</a
      >,
      <a
        href="https://www.stitcher.com/podcast/national-public-radio/how-i-built-this/e/54372836"
        >NPR How I Built This</a
      >
      (<a
        href="https://www.npr.org/templates/transcript/transcript.php?storyId=608512576"
        >transcript</a
      >),
      <a href="https://tim.blog/2018/12/20/patrick-collison/">Tim Ferriss</a>
      (<a
        href="https://tim.blog/2018/12/24/the-tim-ferriss-show-patrick-collison/"
        >transcript</a
      >),
      <a
        href="https://about.fb.com/news/2019/11/a-conversation-with-mark-zuckerberg-patrick-collison-and-tyler-cowen/"
        >Mark Zuckerberg</a
      >
      (<a
        href="https://medium.com/conversations-with-tyler/mark-zuckerberg-interviews-patrick-collison-and-tyler-cowen-on-the-nature-and-causes-of-progress-30de2e2c48f2"
        >transcript</a
      >).
    </li>

    <li>
      <a
        href="https://medium.com/conversations-with-tyler/patrick-collison-stripe-podcast-tyler-cowen-books-3e43cfe42d10"
        >I interview Tyler Cowen</a
      >.
    </li>
  </ul>
</div>

{% endblock %}
