{% extends "base.html" %} {% block head %}
<title>Blog - Patrick Colllison</title>
{% endblock %} {% block body %}
<div class="left"></div>
<p>
  <em
    >These posts were removed from the frontpage owing to their staleness. They
    remain here for posterity.</em
  >
</p>
<h1>Government and the internet</h1>
<div class="subtitle">
  <p>13-04-2021 <a href="xyz">permalink</a></p>
</div>

<div class="text">
  <p>
    Over the last two decades, tension between government and the changes caused
    by the internet has been a recurring theme. Today, they’re almost seen as
    opposing forces. This is somewhat strange when you think about it. Most
    technologies don’t cause so much ongoing upheaval.
    <br />
    <br />
    Why is the internet so challenging? I decided to make a list of reasons and
    came up with 11. Though none of them are very novel, I found the catalog
    interesting. (For one thing, I expected fewer.)
  </p>
  <ol>
    <li>
      Better communication tools mean that events simply happen faster. The Arab
      Spring would probably have been less problematic for incumbent governments
      if things had happened more slowly. They’d have had more time to react.
      But governments still operate on timescales of days and weeks while it’s
      becoming easier for events to play out hour-by-hour.
    </li>
    <br />
    <li>
      Communication and publication can no longer be censored. Wikileaks, the
      Arab Spring, and Snowden’s revelations all depend on governments being
      unable to prevent mass dissemination of information.
    </li>
    <br />
    <li>
      Individuals can now cast a spotlight on government action. (That is,
      publication isn’t just uncensorable; it’s also decentralized.) With the
      internet, we can rapidly rewire our communication networks when a node
      becomes an important source of information. (This is most noticeable
      during live events, when people rapidly figure out which Twitter users are
      worth paying attention to.) If a government does something wrong, and even
      if the mainstream publishers ignore it, the information can still be
      <a
        href="https://www.nytimes.com/2011/07/29/world/asia/29china.html?pagewanted=all"
        >rapidly broadcast to millions.
      </a>
    </li>
    <br />
    <li>
      In a global community, local aberrations stick out more. Because online
      news and social structures don’t pay much attention to national
      boundaries, laws and government actions are increasingly held to
      international standards. People are more likely to know when they’re being
      screwed over by their governments.
    </li>
    <br />
    <li>
      It’s harder for governments to broadcast directly to their citizens. Fifty
      years ago, it was easy: just run a prime-time TV segment. You can still do
      that today, but many fewer people will pay attention.
    </li>
    <br />
    <li>
      Governments are more fragile and hence weaker. It’s almost as easy to leak
      a database as it is a file. It’s much harder for governments to maintain
      secret structures, and they must contend with the omnipresent risk of a
      calamitous leak.
    </li>
    <br />
    <li>
      Governments are more powerful and hence more likely to overreach. Because
      it’s now far easier to eavesdrop on communications, maintain intrusive
      databases, etc., it’s much more tempting to do it. Thirty years ago, you
      needed to adopt extreme GDR-style tactics to eavesdrop on everyone. It was
      logistically prohibitive, and most governments would probably reconsider
      when they realized what doing so would actually entail. Today, technology
      improvements mean that it takes much less effort—and evidently that it
      feels much less wrong.
    </li>
    <br />
    <li>
      Because a lot of internet activity is oblivious to national borders,
      jurisdictional questions are now much murkier. Internet companies and
      services aren’t so much proactively global as casually global: the default
      is to be available everywhere. As a result, internet services don’t
      consider the legal implications of expansion into each jurisdiction. They
      don’t really expand into jurisdictions at all. They’re just there. We
      don’t have a good framework for regulating these entities. Should a US
      website be
      <a href="https://en.wikipedia.org/wiki/Dow_Jones_%26_Co_Inc_v_Gutnick"
        >subject to Australian libel law? (To the union of all libel laws?</a
      >
      ) The most obvious solution is to have an internet company be subject only
      to the laws of the country in which it resides, but even this
      <a
        href="https://www.theguardian.com/commentisfree/2013/aug/19/david-miranda-schedule7-danger-reporters"
        >doesn’t work</a
      >
      : companies can easily operate from multiple countries. And, of course,
      countries affected by a non-resident service aren’t likely to be satisfied
      by this solution.
    </li>
    <br />
    <li>
      A lot of laws make less sense today. Remix culture, Airbnb, YouTube, Lyft,
      and Bitcoin challenge existing regulation. The harm of bad laws is often
      invisible, which makes weighing the trade-offs difficult. (How many good
      things aren’t happening and how good would they be?) It’s hard to argue
      against regulation before the potential of a new technology has been
      realized—the possibilities are, by definition, merely hypothetical.
    </li>
    <br />
    <li>
      Since a lot of industries are being reshaped by technology, more
      incumbents are seeking regulatory protection. Goverments sometimes
      acquiesce and enact bad laws (DMCA), which in turn angers citizens.
    </li>
    <br />
    <li>
      Legislators
      <a
        href="https://www.politico.com/story/2013/08/kagan-supreme-court-email-095724"
        >lack</a
      >
      the conceptual framework to reason effectively about internet and software
      issues. I think this might be the biggest problem of all. As industry
      insiders, we have an advantage: we know it’s inane to talk about "<a
        href="https://www.economist.com/leaders/2013/08/10/a-byte-for-a-byte"
        >getting data back</a
      >"; we know that metadata and data are often distinctions without
      differences; we know that large datasets are
      <a href="http://latanyasweeney.org/work/identifiability.html"
        >very hard to anonymize</a
      >; we know that a large dataset will
      <a
        href="https://www.reuters.com/article/2013/08/07/us-dea-irs-idUSBRE9761AZ20130807"
        >rarely be used only for its originally intended purpose.</a
      >
      We know this simply because we’ve watched these issues play out many times
      before. Politicians haven’t, and when policy questions hinge on
      understanding technology, they don’t tend to fare well.<br /><br />Looking
      back over these, the main thing that strikes me is that it’s very hard to
      imagine any of them going away or being resolved any time soon. The
      internet was an epochal jolt and our governing structures have yet to
      catch up. We’re now twenty years in; given the pace of change, I expect
      these issues to persist for most of my life.<br /><br />I find it
      interesting that the internet is
      <a
        href="https://obamawhitehouse.archives.gov/the-press-office/2011/01/25/remarks-president-barack-obama-state-union-address-prepared-delivery"
        >still politicians’ example</a
      >
      of choice when they need to show how the future is exciting. The US is
      today, in Obama’s words, “the nation of Google and Facebook.” The problems
      don’t simply stem from obliviousness. Even leaders who recognize the
      internet’s importance and value are stuck in an edifice almost guaranteed
      to yield a dissonant relationship.
    </li>
  </ol>
</div>
{% endblock %}
