<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>number_plate</title>
  </head>
  <body>
    <h2 style="text-align: center">AI for tolls</h2>
    <!-- <form
      style="text-align: center"
      action="/number_plate"
      method="POST"
      enctype="multipart/form-data"
    > -->
      <!-- <input type="file" id="number_plate" name="file_1" />
      <input class="" type="submit" /> -->
      <div style="text-align: center" class="row">
        <h4>Licence plate detection</h4>
        <img src="{{ image_path }}" alt="User Image" />
        <br />
        <h4>Number plate extraction</h4>
        <p>The number plate of the vehicle: {{ number_palte_text}}</p>
        <br />
        <h4>Number plate validation</h4>
        <p>{{ final_statement}}</p>
      </div>
    </form>
  </body>
</html>
